body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #fae8d6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f5e6cc;
    color: #835858;
    padding: 2rem 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2.5rem;
    margin: 0;
}

.image-container {
    text-align: center;
    margin-top: 1rem;
}

.header-image {
    width: 120px;
    height: auto;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 600px;
    margin: 2rem auto;
    position: relative;
    padding: 0 1rem;
}

.join-artist, .join-visitor {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    color: #835858;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 5rem;
    margin-left: 5rem;
}

.join-artist {
    background-color: #e8d7c3;
}

.join-artist .artist-select select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #835858;
    border-radius: 4px;
}

.join-visitor {
    background-color: #835858;
    color: #f5e6cc;
}

.join-artist:hover, .join-visitor:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Diagonal line */
.options::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to bottom right, #e8d7c3 50%, #835858 50%);
    z-index: -1;
    transform: rotate(-45deg);
}

/* Responsive Design */
@media (min-width: 600px) {
    .options {
        flex-direction: column;
        width: 80%;
    }
    .join-artist, .join-visitor {
        width: 90%;
        padding: 4rem;
    }
    .options::before {
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        transform: rotate(-45deg);
    }
}

